* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-foreground: rgb(21, 21, 21);
  --secondary-foreground: rgb(66, 66, 66);
  --primary-background: rgb(250, 250, 250);
  --header-background: rgba(250, 250, 250, 0.8);
  --vintage-color: rgba(230,230,230,1);
}

html.dark {
  --primary-foreground: rgb(230, 230, 230);
  --secondary-foreground: rgb(200, 200, 200);
  --primary-background:  rgb(21, 21, 21);
  --header-background:  rgba(21, 21, 21, 0.8);
  --vintage-color: rgb(32, 32, 32);
}


h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: var(--primary-foreground);
}

p {
  color: var(--secondary-foreground);
  margin-bottom: 1.5rem;
  line-height: 1.6rem;
}

html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

body {
  max-width: 1280px;
  margin: 0 auto;
  background: var(--primary-background);
  background: linear-gradient(90deg, var(--vintage-color) 0%, var(--primary-background) 8%, var(--primary-background) 92%, var(--vintage-color) 100%);
  color: var(--primary-foreground);
}

header {
  position: fixed;
  top: 0;
  left: 50%;
  max-width: 1400px;
  width: 100%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  background: var(--header-background);
  backdrop-filter: blur(7px);
  z-index: 20;
}

header img {
  width: 2rem;
  height: 2rem;
}

html.dark header img {
  filter: invert(1);
}

header .navlist {
  display: flex;
  align-items: center;
  gap: 2rem;
}

header nav {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 2rem;
}
header nav a {
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-foreground);
  transition: 0.3s;
  display: block;
  height: 100%;
  padding: 1.5rem 0;
}
nav #marker{
  position: absolute;
  height: 4px;
  width: 0;
  background-color: var(--primary-foreground);
  bottom: 10px;
  transition: 0.3s;
  z-index: 1;
}

.navlist button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.navlist button img {
  width: 1.5rem;
}

main {
  display: flex;
  margin-top: 8rem;
  padding: 1rem;
  width: 100%;
}

main article {
  flex-grow: 1;
}

main article > * {
  margin-bottom: 8rem;
}

main > *:last-child {
  margin-bottom: 0rem;
}

.describe h2 {
  color: rgb(53, 53, 53);
}

html.dark .describe h2 {
  color: var(--primary-foreground);
}

#portfolio {
  width: 100%;
}

.portfolio-list {
  margin-top: 2rem;
}

.portfolio-list > * {
  margin-bottom: 1.5rem;
}

.portfolio-card  {
  display: flex;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

html.dark .portfolio-card {
  background: rgb(31, 31, 31);
}

.portfolio-card img {
  width: 200px;
  aspect-ratio: 10/8;
  object-fit: cover;
}

.portfolio-card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1.2rem;
}

.portfolio-card-info p {
  font-size: 0.9rem;
  color: var(--secondary-foreground);
}

.portfolio-link-list {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.portfolio-link {
  display: block;
  background: black;
  border-radius: 50%;
  line-height: 0;
  width: 1.5rem;
  height: 1.5rem;
  transition: 0.3s;
}
.portfolio-link img {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 0;
}

.portfolio-link:hover {
  transform: translateY(-2px);
}

.more-button {
  background-color: black;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: max-content;
  border-radius: 7px;
  color: white;
  transition: 0.3s;
}

html.dark .more-button {
  background-color: rgb(31,31,31);
}

.more-button:hover {
  opacity: 90%;
}

.more-button img {
  width: 1.5rem;
}

aside {
  padding-left: 7rem;
}

#profile {
  width: 350px;
  position: sticky;
  top: 7rem;
}

#profile {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  font-size: 12px;
  gap: 1rem;
  background: white;
  border-radius: 10px;
  padding: 1.5rem;
  height: max-content;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.03);
}

html.dark #profile {
  background: rgb(31, 31, 31);
}

#profile img {
  width: 6.5rem;
  height: 6.5rem;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

#profile h2 {
  line-height: 0.5rem;
  margin-top: 1rem;
}
#profile h3 {
  font-size: 1.1rem;
  color: var(--secondary-foreground);
}
#profile p {
  color: var(--secondary-foreground);
}

footer {
  margin-top: 5rem;
  padding: 2.5rem 0;
  text-align: center;
}

@media screen and (max-width: 800px) {
  body {
    background: var(--primary-background);
  }

  header {
    padding-top: 1rem;
    flex-direction: column;
  }
  .portfolio-card  {
    flex-direction: column;
  }

  .portfolio-card img {
    width: 100%;
    aspect-ratio: 10/5;
  }
}
@media screen and (max-width: 1200px) {
  #content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  aside {
    padding: 0 1rem;
  }
}